USE [master]
GO
/****** Object:  Database [F_Gear]    Script Date: 10/4/2022 6:47:29 PM ******/
CREATE DATABASE [F_Gear]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'F_Gear', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\F_Gear.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'F_Gear_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\F_Gear_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [F_Gear].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [F_Gear]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CateBrand]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateBrand](
	[CateID] [int] NOT NULL,
	[BrandID] [int] NOT NULL,
 CONSTRAINT [PK_CateBrand] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC,
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantee]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantee](
	[GuaranteeID] [int] IDENTITY(1,1) NOT NULL,
	[Detail] [nvarchar](100) NOT NULL,
	[ProID] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuaranteeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProID] [int] NULL,
	[ImageTypeID] [int] NULL,
	[Url] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageType]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageType](
	[ImageTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ImageType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[ProID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[OrderDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProID] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](100) NOT NULL,
	[OriginalPrice] [int] NOT NULL,
	[Discount] [int] NULL,
	[CurrentPrice] [int] NULL,
	[BrandID] [int] NOT NULL,
	[CateID] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Product__620295F0189A70B0] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProSpec]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProSpec](
	[ProID] [int] NOT NULL,
	[SpecID] [int] NOT NULL,
	[Detail] [nvarchar](100) NULL,
 CONSTRAINT [PK_ProSpec] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC,
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[SpecID] [int] IDENTITY(1,1) NOT NULL,
	[SpecName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/4/2022 6:47:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [varchar](100) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Password] [varchar](100) NULL,
	[PhoneNumber] [char](9) NULL,
	[RoleID] [int] NOT NULL,
	[Avatar] [varchar](255) NULL,
	[Gender] [varchar](10) NULL,
 CONSTRAINT [PK__Users__C9F2845798EF1F4F] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (1, N'ACER')
INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (2, N'ASUS')
INSERT [dbo].[Brand] ([BrandID], [BrandName]) VALUES (3, N'MSI')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
INSERT [dbo].[CateBrand] ([CateID], [BrandID]) VALUES (1, 1)
INSERT [dbo].[CateBrand] ([CateID], [BrandID]) VALUES (1, 2)
INSERT [dbo].[CateBrand] ([CateID], [BrandID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (1, N'Laptop Gaming')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (2, N'Laptop Văn Phòng')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (3, N'Chuột')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImageID], [ProID], [ImageTypeID], [Url]) VALUES (1, 1, 1, N'https://product.hstatic.net/1000026716/product/r4xx_e962521937eb4d8c9feedbf12a3d3495.png')
INSERT [dbo].[Images] ([ImageID], [ProID], [ImageTypeID], [Url]) VALUES (2, 1, 2, N'https://product.hstatic.net/1000026716/product/ire-7-a715-43g-r8ga-r5-5625u-2_16eb432cd8734500916c8c9edb10e531_master_0ab96f3027c64db4ad083ca3401f8d95.png')
INSERT [dbo].[Images] ([ImageID], [ProID], [ImageTypeID], [Url]) VALUES (3, 1, 2, N'https://product.hstatic.net/1000026716/product/ire-7-a715-43g-r8ga-r5-5625u-1_97b74b15878f494393152b22c68fd352_master_1138c0c2a2f7468f9aa4ab66a8929ad7.png')
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageType] ON 

INSERT [dbo].[ImageType] ([ImageTypeID], [ImageType]) VALUES (1, N'main')
INSERT [dbo].[ImageType] ([ImageTypeID], [ImageType]) VALUES (2, N'sub')
SET IDENTITY_INSERT [dbo].[ImageType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProID], [ProName], [OriginalPrice], [Discount], [CurrentPrice], [BrandID], [CateID], [Status]) VALUES (1, N'Laptop Gaming Acer Aspire 7 A715 42G R4XX', 19990000, 30, 0, 1, 1, 1)
INSERT [dbo].[Product] ([ProID], [ProName], [OriginalPrice], [Discount], [CurrentPrice], [BrandID], [CateID], [Status]) VALUES (2, N'Laptop Gaming Acer Nitro 5 Eagle AN515 57 5669', 23990000, 0, 0, 1, 1, 1)
INSERT [dbo].[Product] ([ProID], [ProName], [OriginalPrice], [Discount], [CurrentPrice], [BrandID], [CateID], [Status]) VALUES (3, N'Máy tính xách tay Acer Nitro 5 AN515 58 52SP', 27990000, 0, 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProSpec] ([ProID], [SpecID], [Detail]) VALUES (1, 1, N'AMD Ryzen 5 – 5500U (6 nhân 12 luồng)')
INSERT [dbo].[ProSpec] ([ProID], [SpecID], [Detail]) VALUES (1, 2, N'8GB DDR4 ')
INSERT [dbo].[ProSpec] ([ProID], [SpecID], [Detail]) VALUES (1, 3, N'256GB PCIe® NVMe™ M.2 SSD')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Specification] ON 

INSERT [dbo].[Specification] ([SpecID], [SpecName]) VALUES (1, N'CPU')
INSERT [dbo].[Specification] ([SpecID], [SpecName]) VALUES (2, N'RAM')
INSERT [dbo].[Specification] ([SpecID], [SpecName]) VALUES (3, N'Storage Drive')
SET IDENTITY_INSERT [dbo].[Specification] OFF
GO
INSERT [dbo].[Users] ([UserName], [FullName], [Password], [PhoneNumber], [RoleID], [Avatar], [Gender]) VALUES (N'dunghq', N'Hoang Quoc Dung', N'c4ca4238a0b923820dcc509a6f75849b', NULL, 1, N'https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360', N'Male')
INSERT [dbo].[Users] ([UserName], [FullName], [Password], [PhoneNumber], [RoleID], [Avatar], [Gender]) VALUES (N'duy', N'duynguyen', N'c4ca4238a0b923820dcc509a6f75849b', N'12345    ', 2, N'https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360', N'Male')
INSERT [dbo].[Users] ([UserName], [FullName], [Password], [PhoneNumber], [RoleID], [Avatar], [Gender]) VALUES (N'duynv', N'Nguyen Van Duy', N'c4ca4238a0b923820dcc509a6f75849b', N'975687429', 2, N'https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360', N'Male')
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [CurrentPrice]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [df_Role]  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Avartar__3D5E1FD2]  DEFAULT ('https://cdn-icons-png.flaticon.com/512/1053/1053244.png?w=360') FOR [Avatar]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Gender__3E52440B]  DEFAULT ('Male') FOR [Gender]
GO
ALTER TABLE [dbo].[CateBrand]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[CateBrand]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
ALTER TABLE [dbo].[Guarantee]  WITH CHECK ADD  CONSTRAINT [FK__Guarantee__ProID__46E78A0C] FOREIGN KEY([ProID])
REFERENCES [dbo].[Product] ([ProID])
GO
ALTER TABLE [dbo].[Guarantee] CHECK CONSTRAINT [FK__Guarantee__ProID__46E78A0C]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD FOREIGN KEY([ImageTypeID])
REFERENCES [dbo].[ImageType] ([ImageTypeID])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__ProID__4316F928] FOREIGN KEY([ProID])
REFERENCES [dbo].[Product] ([ProID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__ProID__4316F928]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__ProID__5812160E] FOREIGN KEY([ProID])
REFERENCES [dbo].[Product] ([ProID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__ProID__5812160E]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__UserName__440B1D61] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__UserName__440B1D61]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__BrandID__3E52440B] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__BrandID__3E52440B]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
ALTER TABLE [dbo].[ProSpec]  WITH CHECK ADD  CONSTRAINT [FK__ProSpec__ProID__4BAC3F29] FOREIGN KEY([ProID])
REFERENCES [dbo].[Product] ([ProID])
GO
ALTER TABLE [dbo].[ProSpec] CHECK CONSTRAINT [FK__ProSpec__ProID__4BAC3F29]
GO
ALTER TABLE [dbo].[ProSpec]  WITH CHECK ADD  CONSTRAINT [FK__ProSpec__SpecID__4CA06362] FOREIGN KEY([SpecID])
REFERENCES [dbo].[Specification] ([SpecID])
GO
ALTER TABLE [dbo].[ProSpec] CHECK CONSTRAINT [FK__ProSpec__SpecID__4CA06362]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleID__47DBAE45] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleID__47DBAE45]
GO
USE [master]
GO
