/* mobile and tablet */
@media (max-width: 1023px) {
    .body-category span {
        display: none;
    }

    .body-img>img {
        width: 100%;
    }

    .body-category-list-item li {
        clip-path: none;
    }


}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .body-list-product img {
        width: 28%;
    }

    .body-img>img {
        width: 60%;
    }

    .logo-form-user-action {
        width: 90%;
        display: block;
    }

    .logo-form-user-action div {
        margin: 10px 0;
    }

    .login-google {
        width: 80%;
    }

    .login-create a {
        font-size: 25px;
    }

    .body-category-search input {
        font-size: 20px;
    }

    .body-category-search i {
        transform: translate(-54px, 5px);
    }

    .body-category-list {
        left: 0;
        font-size: 20px;
        top: 100%;
    }

    .body-category-sub-list {
        left: 100%;
        width: 350%;
    }

    .body-category-list-item li {
        clip-path: none;
        width: 100%;
    }

    .body-category-list-item li:hover {
        transform: none;
    }

    .dashboard-container-box {
        width: 40%;
    }

    .sale-title {
        width: 50%;
    }

    .sale-brand {
        width: 25%;
    }
}


/* mobile */
@media (max-width: 739px) {
    .body-interactive {
        flex-direction: column-reverse;
        align-items: center;
    }

    .body-category-search {
        width: 100%;
    }

    .body-category-search input {
        font-size: 12px;
    }

    .body-category-search i {
        transform: translate(-44px, 0);
    }

    .body-category-search form {
        display: flex;
    }

    .body-category {
        margin-top: 10px;
        margin-left: 0;
        width: 40%;
    }

    .body-title {
        width: 70%;
        font-size: 20px;
    }

    .body-list-product img {
        width: 37%;
    }

    .body-img div> :first-child,
    .body-img div> :nth-child(2) {
        display: none;
    }

    .login {
        width: 90%;
    }

    .logo-form-user-action {
        width: 90%;
        display: block;
    }

    .logo-form-user-action div {
        margin: 10px 0;
    }

    .login-google {
        width: 80%;
    }

    .login-form-submit {
        padding: 10px 40px;
    }

    .login-form-text {
        padding-left: 10px;
    }

    .body-category-list-item li {
        width: 100%;
    }

    .body-category-list-item li:hover {
        transform: none;
    }

    .body-category-list {
        left: -100%;
        top: 100%;
        font-size: 14px;
    }

    .body-category-sub-list {
        width: 200%;
        left: 105%;
    }

    .dashboard-container-box {
        width: 60%;
    }

    .dashboard-container-statistics-list-item {
        width: 100%;
    }

    .dashboard-container-statistics-list-item .dashboard-container-statistics-item {
        width: 45%;
    }

    .chart {
        width: 100%;
        height: 100%;
    }

    .sale-title {
        width: 80%;
    }
    .sale-brand {
        width: 50%;
    }

    .body-list-product a {
        width: 45%;
        margin: 10px 0;
    }
}