/* 
mau chu dao: #6bbdec 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #6bbdec;
}

.header-logo-container {
    width: 20%;
}

.header-logo {
    width: 30%;
    margin: 30px 0 0 120px;
    transform: translateY(-10px);
}

.header-link {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header-list-link {
    width: 60%;
    display: flex;
    list-style: none;
}

.header-list-link li {
    margin: 0 40px 0 40px;
    font-size: 30px;
    line-height: 120px;
    cursor: pointer;
}

.header-list-btn {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.active {
    color: #fff;
}

.header-list-btn button {
    margin: 34px;
    /* padding: 10px 30px; */
    border: none;
    border-radius: 10px;
    color: #226cc0;
    font-size: 20px;
}

.header-list-btn button a {
    padding: 10px 30px;
}

.header-list-btn button:hover {
    cursor: pointer;
}

/* body */
.body {
    width: 100%;
}

.body-interactive {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}

.body-category {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
    margin-left: 40px;
    /* cursor: pointer; */
    width: 20%;
    text-align: center;
    user-select: none;
    position: relative;
}

.body-category-list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: transparent;
    bottom: 100%;
    left: 0;
}

.body-category:hover .body-category-list {
    display: block;
}

.body-category i,
.body-category span {
    cursor: pointer;
}

.body-category-list {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px 5px black;
    width: 100%;
    top: 115%;
    left: 0;
    font-size: 21px;
}

.body-category-list::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 100%;
}



.body-category-list-active {
    display: block;
}

.body-category-list-item {
    text-align: center;
    list-style: none;
    padding: 20px 10px;
    width: 100%;
    font-size: 22px;
}

.body-category-list-item li {
    width: 100%;
    /* border-bottom: 1px solid #000; */
    clip-path: polygon(11% 0, 100% 0%, 90% 100%, 0% 100%);
    margin: 5px 0;
}

.body-category-list-item li a {
    color: black;
}

.body-category-list-item li:hover {
    background-color: red;
    transform: translateX(5%);
    transition: ease-in-out .3s;
}

.body-category-list-item li:hover a {
    color: #fff;
}

.body-category-sub-list {
    border-radius: 20px;
    width: 900px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 260px;
    display: none;
}

.body-category-sub-list-active {
    display: block;
}

.body-category-list-sub-item {
    background-color: #fff;
    text-align: center;
    list-style: none;
    padding: 20px 10px;
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 0 4px 10px 5px black; */
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}



.body-category-list-sub-each-item {
    margin: 5px 10px;
}

.body-category-list-sub-each-item>a {
    color: black;
}

/* .body-category-list-sub-each-item:hover {
    background-color: red;
}

.body-category-list-sub-each-item:hover a {
    color: #fff;
} */

.body-category-list-sub2-each-item {
    margin: 5px 10px;
}

.body-category-list-sub2-each-item ul {
    list-style: none;
}

.body-category-list-sub2-each-item ul li {
    margin: 5px 0;
}

.body-category-list-sub2-each-item ul li:hover a {
    color: red;
}

.body-category-list-sub2-each-item h4 {
    color: red;
}

.body-category-list-sub2-each-item ul li a {
    color: #000;
}


.body-category i {
    margin: 0 10px;
}

.body-category-search {
    width: 70%;
    margin-right: -40px;

}

.body-category-search button {
    background-color: transparent;
    border: none;
}

.body-category-search input {
    width: 90%;
    height: 55px;
    font-size: 30px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid;
}

.body-category-search i {
    transform: translate(-54px, 0px);
    font-size: 30px;
    cursor: pointer;
}

.body-img {
    width: 100%;
    display: flex;
    /* margin-top: -135px; */
}

.body-img>img {
    width: 68%;
}

.body-img div {
    width: 40%;
}

.body-img div img {
    width: 100%;
}

.body-img div> :first-child {
    margin-top: -8px;
}

.body-img div> :nth-child(2) {
    margin-bottom: -10px;
}


.body-title {
    text-align: center;
    width: 30%;
    margin: 20px auto;
    padding: 15px 0;
    border: 1px solid #000;
    background-color: #6bbdec;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}

.body-list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.body-list-product a {
    width: 20%;
    margin: 10px 10px;
}

.body-list-product a img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

/* footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #6bbdec;
    align-items: center;
}

.footer-right {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    width: 120px;
    margin-left: 150px;
}

.footer-link i {
    font-size: 20px;
    margin: 0 7px;
}

.footer-link :nth-child(1) {
    color: #0a1e30;
}

.footer-link :nth-child(2) {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}


.footer-link :nth-child(3) {
    color: red;
}

.footer-left {
    width: 40%;
    text-align: center;
}

.footer-left h3 {
    margin: 15px 0;
}