/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2022, 12:12:08 AM
    Author     : Admin
*/

.header-wrapper {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    background-color: rgb(0, 191, 255);
    z-index: 4;
    height: 150px;
    position: fixed;
    width: 100%;

}

.header-logo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.white-space {
    width: 100%;
    height: 160px;
}

/* Side-bar styles */
.sidebar-wrapper {
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 60px;
}

.sidebar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-mgt_list {
    width: 100%;
    height: 500px;
    margin-left: 50px;
    background-color: rgba(189, 189, 189, 0.4);
    border-radius: 15px;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}

.navigation-item {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.navigation-wrapper {
    background-color: var(--background-color);
    border-radius: 15px;
    width: 300px;
    height: auto;
}

.modal-btn {
    width: 180px;
    padding: 10px 20px;
    border: 0;
    font-weight: 700;
    background-color: var(--background-color);
    border-radius: 10px;
}

/* Button styles */
.btn-action {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}

.table-head {
    position: sticky;
    top: 0;
    background-color: var(--background-color);

}

/* Scroll-bar custome */

/* scrollbar width */
.product-mgt_list::-webkit-scrollbar {
    display: none;
}

/* scrollbar track */
.product-mgt_list::-webkit-scrollbar-track {
    background: #eee;
}

.navigation-item:hover {
    background-color: rgb(125, 122, 122);
}

.navigation-item:hover a {
    color: #fff;
    text-decoration: none;
}

.navigation-item:hover::after {
    display: block;
}

.navigation-item::after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -50px;
    border-style: solid;
    border-width: 25px;
    border-color: transparent transparent transparent rgb(125, 122, 122);
    display: none;
}

.active {
    background-color: rgb(125, 122, 122);
}

.active a {
    color: #fff;
}

.active::after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -50px;
    border-style: solid;
    border-width: 25px;
    border-color: transparent transparent transparent rgb(125, 122, 122);
    display: block;
}

/* Remove modal styles */
.modal-wrapper {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(158, 157, 157, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-content{
    height: 100%;
}
.modal-form-wrapper{
    width: 300px;
    background-color:#fff;
    height: 200px;
    border-radius:15px;
    transform: scale(1);
    animation:fadeForm .5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes fadeForm {
    from {
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}
.modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-btn-action{
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}
.modal-btn-action:hover{
    background-color:var(--background-color);
    color: #fff;
}
/* Add modal styles */
.add-modal-content{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(158, 157, 157, 0.3);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}
.add-modal-title{
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-left: 100px;
}
.add-modal-form-wrapper{
    width: 500px;
    background-color:#fff;
    height: 800px;
    padding: 20px;
    border-radius:15px;
    transform: scale(1);
    animation:fadeForm .5s linear;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
  
}
.add-input-wrapper{
    display: flex;
    margin-bottom: 30px;
}
.input-text{
    flex: 1;
    min-width:100px;
}
.input-label{
    min-width: 130px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;

    cursor: pointer;
    background-color:rgba(23, 184, 235, 1);
    border-radius: 15px;
}
.submit-wrapper{
  display: flex;
    justify-content:center;
}
.submit-btn{
    width: 150px;
    padding: 10px 20px;
    border-radius:15px;
    font-weight: 700;
    color: #fff;
    background-color:var(--background-color);
}
.add-form{
    display: flex;
    flex-direction: column;

}
/* Edit modal styles */
.edit-modal-content{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(158, 157, 157, 0.3);
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding:20px;
    
}
.edit-modal-form-wrapper{
    width: 500px;
    background-color:#fff;
    height: 350px;
    padding: 20px;
    border-radius:15px;
    transform: scale(1);
    animation:fadeForm .5s linear;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.edit-modal-title{
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-left: 100px;
}
.edit-input-wrapper{
    display: flex;
    margin-bottom: 30px;
}
